[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openpyxl = "*"
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"
uwsgi = "*"
djangorestframework = "*"
social-auth-app-django = "*"

[dev-packages]
django-extensions = "*"

[requires]
python_version = "3.6"
