{% extends 'base.html' %}
{% block content %}
      <section class="contanier">
{#          <a href="{% url 'category' %}">#}
              <div class="oder-move-wrap">
              <h3>Oder</h3>

                  <a href="https://kauth.kakao.com/oauth/authorize?client_id={{ kakao_api }}&redirect_uri=http://localhost:8000/members/oauth/&response_type=code">
                    test_kakao_login
                  </a>
              <div class="round">
                <h3>Now</h3>
              </div>
            </div>
          </a>

  </section>
{% endblock %}