{% extends 'base.html' %}
{% block content %}
      <section class="contanier">
{#          <a href="{% url 'category' %}">#}
              <div class="oder-move-wrap">
              <h3>Oder</h3>

                  <a href="https://kauth.kakao.com/oauth/authorize?client_id={{ kakao_api }}&redirect_uri=http://localhost:8000/members/kakao_oauth/&response_type=code">
                    test_kakao_login
                  </a>
                  <br>
                  <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id={{ naver_api }}&redirect_url=http://localhost:8000/members/naver_oauth&state=200">
                    test_naver_login
                  </a>
              <div class="round">
                <h3>Now</h3>
              </div>
            </div>
          </a>

  </section>
{% endblock %}